{
	"root": true,
	"extends": ["eslint:recommended", "prettier", "plugin:svelte/recommended"],
	"plugins": ["prettier"],
	"overrides": [{ "files": ["*.svelte"], "parser": "svelte-eslint-parser" }],
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": "latest"
	},
	"env": {
		"browser": true,
		"es2017": true
	},
	"rules": {
		"camelcase": ["warn", { "allow": ["pf2_"] }],
		"id-length": ["warn", { "exceptions": ["i", "x"], "properties": "never" }],
		"prettier/prettier": [
			"error",
			{
				"endOfLine": "auto"
			}
		],
		"svelte/no-at-html-tags": "off"
	}
}
