{
	"root": true,
	"extends": ["eslint:recommended", "prettier", "plugin:svelte/recommended"],
	"plugins": ["prettier"],
	"overrides": [{ "files": ["*.svelte"], "parser": "svelte-eslint-parser" }],
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": "latest"
	},
	"env": {
		"browser": true,
		"es2017": true
	},
	"rules": {
		"prettier/prettier": ["error"],
		"svelte/no-at-html-tags": "off"
	}
}
