{
	"root": true,
	"extends": ["eslint:recommended", "prettier"],
	"plugins": ["svelte3", "prettier"],
	"overrides": [{ "files": ["*.svelte"], "processor": "svelte3/svelte3" }],
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": "latest"
	},
	"env": {
		"browser": true,
		"es2017": true
	},
	"rules": {
		"prettier/prettier": ["error"]
	}
}
