.font {
	&-gin {
		@extend .font;
		font-family: 'gin', sans-serif;
	}

	&-good-pro {
		@extend .font;
		font-family: 'good-pro', sans-serif;
	}

	&-good-pro-condensed {
		@extend .font;
		font-family: 'good-pro-condensed', sans-serif;
	}

	&-action {
		@extend .font;
		font-family: 'pathfinder2eactions';
		font-size: 1.78em;
		line-height: 0;

		&::after {
			content: attr(data-symbol);
		}
	}

	&-dax {
		@extend .font;
		font-family: 'dax', sans-serif;
	}

	&-sabon {
		@extend .font;
		font-family: 'sabon', sans-serif;
	}

	&-taroca {
		@extend .font;
		font-family: 'taroca', sans-serif;
	}

	&-sabonltstd {
		@extend .font;
		font-family: 'sabonltstd', sans-serif;
	}

	&-basing {
		@extend .font;
		font-family: 'basing', sans-serif;
	}

	&-albertus {
		@extend .font;
		font-family: 'albertus', sans-serif;
	}

	&-quicksand {
		@extend .font;
		font-family: 'quicksand', sans-serif;
	}

	&-no {
		@extend .font;
		font-weight: normal !important;
		font-style: normal !important;
		font-variant: none !important;
		text-decoration: none !important;
	}
}

@font-face {
	font-family: 'quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'good-pro-condensed';
	font-style: normal;
	font-weight: 700;
	src: local('font'), url('/fonts/good-pro-condensed-700.ttf') format('truetype');
}

@font-face {
	font-family: 'good-pro-condensed';
	font-style: normal;
	font-weight: 400;
	src: local('font'), url('/fonts/good-pro-condensed-400.ttf') format('truetype');
}

@font-face {
	font-family: 'good-pro';
	font-style: normal;
	font-weight: 400;
	src: local('font'), url('/fonts/good-pro-400.ttf') format('truetype');
}

@font-face {
	font-family: 'good-pro';
	font-style: italic;
	font-weight: 400;
	src: local('font'), url('/fonts/good-pro-italic-400.ttf') format('truetype');
}

@font-face {
	font-family: 'good-pro';
	font-style: normal;
	font-weight: 700;
	src: local('font'), url('/fonts/good-pro-700.ttf') format('truetype');
}

@font-face {
	font-family: 'pathfinder2eactions';
	font-style: normal;
	font-weight: 700;
	src: local('font'), url('/fonts/Pathfinder2eActions.ttf') format('truetype');
}

@font-face {
	font-family: 'dax';
	font-style: normal;
	font-weight: 400;
	src: local('font'), url('/fonts/Dax-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'dax';
	font-style: normal;
	font-weight: 700;
	src: local('font'), url('/fonts/Dax-bold.ttf') format('truetype');
}

@font-face {
	font-family: 'gin';
	font-style: normal;
	font-weight: 400;
	src: local('font'), url('/fonts/Gin-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'sabon';
	font-style: normal;
	font-weight: 400;
	src: local('font'), url('/fonts/Sabon-Roman.ttf') format('truetype');
}

@font-face {
	font-family: 'sabon';
	font-style: italic;
	font-weight: 400;
	src: local('font'), url('/fonts/Sabon-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'sabon';
	font-style: italic;
	font-weight: 700;
	src: local('font'), url('/fonts/Sabon-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'sabon';
	font-style: normal;
	font-weight: 700;
	src: local('font'), url('/fonts/Sabon-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'taroca';
	font-style: normal;
	font-weight: 400;
	src: local('font'), url('/fonts/Taroca.ttf') format('truetype');
}

@font-face {
	font-family: 'sabonltstd';
	font-style: normal;
	font-weight: 400;
	src: local('font'), url('/fonts/SabonLTStd-Roman.ttf') format('truetype');
}

@font-face {
	font-family: 'sabonltstd';
	font-style: italic;
	font-weight: 400;
	src: local('font'), url('/fonts/SabonLTStd-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'sabonltstd';
	font-style: italic;
	font-weight: 700;
	src: local('font'), url('/fonts/SabonLTStd-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'sabonltstd';
	font-style: normal;
	font-weight: 700;
	src: local('font'), url('/fonts/SabonLTStd-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'basing';
	font-style: normal;
	font-weight: 400;
	src: local('font'), url('/fonts/Basing.ttf') format('truetype');
}

@font-face {
	font-family: 'albertus';
	font-style: normal;
	font-weight: 400;
	src: local('font'), url('/fonts/AlbertusMT.ttf') format('truetype');
}