a {
	color: #337ab7;
	text-decoration: none;

	html.dark & {
		color: #7db6e8;
	}
}

ul {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	padding-left: 1.5rem;
	text-indent: 0;

	& ul {
		list-style-type: circle;
	}
}

.stats {
	background: #f6f4f2;

	html.dark & {
		background: #222;
	}
}

.wrp-stats {
	overflow-x: hidden;
	overflow-y: auto;
	border-top: 2px solid #5e0000;
	border-bottom: 2px solid #5e0000;
	transform: translateZ(0);
	flex-shrink: 1;
	background: #f6f4f2;

	html.dark & {
		border-top: 2px solid #565656;
		border-bottom: 2px solid #565656;
	}
}
