ul {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	padding-left: 1.5rem;
	text-indent: 0;

	& ul {
		list-style-type: circle;
	}
}

.stats {
	background: #f6f4f2;

	html.dark & {
		background: #222;
	}
}

.wrp-stats {
	border-top: 2px solid #5e0000;
	border-bottom: 2px solid #5e0000;
	background: #f6f4f2;

	html.dark & {
		border-top: 2px solid #565656;
		border-bottom: 2px solid #565656;
	}
}
