.h3 {
	font-size: 1.2rem;
}

.h4 {
	font-size: 1.2rem;
	font-variant: small-caps;
}

.text-indent-first {
	text-indent: 1em !important;
}

.text-indent-subsequent {
	padding-left: 1em !important;
	text-indent: -1em !important;
}

// TODO: TEST FOR CODEMIRROR
span.world span {
	color: purple;

	html.dark & {
		color: pink;
	}
}